version: "3.9"

services:
  worker:
    build:
      context: .
      dockerfile: Dockerfile
    image: stt-tts-worker:dev
    container_name: stt-tts-worker
    env_file:
      - .env
    environment:
      SEPARATE_BGM: "1"
      USE_GPU: "0"
      TTS_DEVICE: "cpu"
      MT_DEVICE: "cpu"
      MT_FAST_ONLY: "1"
      MT_NUM_BEAMS: "1"
      MT_MAX_NEW_TOKENS: "96"
      MT_MAX_BATCH_TOKENS: "2048"
      MT_MAX_BATCH_SIZE: "16"
      MT_FP16: "1"
      COQUI_TOS_AGREED: "1"
      NVIDIA_VISIBLE_DEVICES: "all"
      NVIDIA_DRIVER_CAPABILITIES: "compute,utility"
    volumes:
      - ./app:/app/app
      - ./data:/app/data
      - ./cache/hf:/app/cache/hf
      - ./cache/tts:/app/cache/tts
      - ./cache/demucs:/app/cache/demucs
      - ~/.aws:/root/.aws:ro
    shm_size: "2gb"
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - capabilities: ["gpu"]
